extends layout

block content
  div.flex-center.full-height.width-80.display-flex-column
    h1 #{title}
    p Welcome to the Blog
    p Welcome to the Blog
    p Welcome to the Blog

    p Welcome to the Blog


    p Welcome to the Blog
    p Welcome to the Blog
    p Welcome to the Blog