extends layout

block content
  .display-flex-column.flex-align-center.flex-justify-content-center
      h1= error.status
      h2= message
      a(href='/') Return to Index...
      pre #{error.stack}
