extends layout

block content
  .display-flex-column
    .flex.height-500px.bg-grey.display-flex-column.flex-align-center.flex-justify-content-center
      h1 Welcome to Asset Share
      h3 The #1 Website for sharing PBR materials, models and more.
      br
      br
      br
      br
    .display-flex-row.height-500px
      .display-flex-column.flex.flex-align-center.flex-justify-content-center
        p Some random text.
      .display-flex-column.flex.flex-align-center.flex-justify-content-center
        p Image here
    .display-flex-row.height-500px
      .display-flex-column.flex.flex-align-center.flex-justify-content-center
        p Image here.
      .display-flex-column.flex.flex-align-center.flex-justify-content-center
        p Some random text
