doctype html
html
  head
    block head
      meta(charset='utf-8')
      title= title
      include stylesheets.pug
      include scripts.pug
  
  body

    block popup
      include popup-login.pug
      include popup-register.pug
    
    block navbar
      header
        a(href='/'): img.header-logo(src="/assets/images/logoSmall.png" alt="AssetShare")
        div#navbar-items
          a(href='/library') LIBRARY
          a(href='/blog') BLOG
          a(href='/gallery') GALLERY
        div#navbar-account
          if authenticated
            a(href='/logout') LOGOUT
            a(href='/profile').display-flex-column.flex-align-center
              img.border-radius-100(src="https://www.gravatar.com/avatar/"+email_hash+"?d=mp&s=64" id="image-header-avatar")
          else
            a(href='#' onclick='showPopup(\'popup-login\')') LOGIN
            a.button(href='#' onclick='showPopup(\'popup-register\')') REGISTER
    
    div.content-wrapper
      block content

    block footer
      footer
        p This is the footer.
        p in the future there will be more content here.