-var popupID = '';
block vars

div(class='popup' id=popupID style='display:none')
    div.popup-top
        div.popup-name
        a(href='#' onclick='closePopup(\''+popupID+'\')') ✖
    div.popup-content
        block popup-content
